@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 200%;
  letter-spacing: 0.5px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 8.75rem;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  height: 9vh;
}
nav div:nth-child(1) {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
nav div:nth-child(1) .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
nav div:nth-child(1) .logo img {
  width: 40px;
  height: 40px;
}
nav div:nth-child(1) .logo p {
  font-weight: 600;
  color: rgb(30, 30, 30);
}
nav div:nth-child(1) .menu {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}
nav div:nth-child(1) .menu .active {
  color: #2F4DDB;
}
nav div:nth-child(1) .menu a {
  text-decoration: none;
  color: rgb(30, 30, 30);
  font-weight: 600;
  font-size: 0.8rem;
}
nav div:nth-child(1) .menu a:hover {
  color: #2F4DDB;
}
nav div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
nav div:nth-child(2) .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  background-color: white;
  color: rgb(30, 30, 30);
  font-size: 0.8rem;
  font-weight: 400;
  border: 1.5px solid rgb(30, 30, 30);
  min-width: 20%;
  align-items: center;
  justify-content: center;
}
nav div:nth-child(2) .search input {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(30, 30, 30);
  width: 100%;
}
nav div:nth-child(2) .search input ::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
nav div:nth-child(2) .search input:active, nav div:nth-child(2) .search input:focus {
  outline: none;
}
nav div:nth-child(2) .d-l {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.3rem;
  background-color: white;
  color: rgb(30, 30, 30);
  font-size: 0.8rem;
  font-weight: 400;
  border: 1.5px solid rgb(30, 30, 30);
  min-width: 20%;
  align-items: center;
  justify-content: center;
}
nav div:nth-child(2) .sun {
  display: none;
}
nav div:nth-child(2) .hidden {
  display: none;
}
nav div:nth-child(2) .block {
  display: flex;
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.75rem;
    position: fixed;
    top: 0;
    background-color: white;
  }
  nav div:nth-child(1) .logo p {
    display: none;
  }
  nav div:nth-child(1) .menu {
    display: none;
  }
  nav div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }
  nav div:nth-child(2) input::placeholder {
    display: none;
  }
}
main {
  display: flex;
  flex-direction: column;
  gap: 20vh;
  margin: 20vh 0;
}
@media screen and (max-width: 768px) {
  main {
    gap: 10vh;
  }
}
main header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 8.75rem;
}
main header h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(30, 30, 30);
}
main header p {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(30, 30, 30);
  width: 50%;
}
main header .t-darkmode {
  color: #f1f9fc;
}
main header .darkmode {
  background-color: rgb(30, 30, 30);
  color: #f1f9fc;
}
main header .darkmode p {
  color: #f1f9fc;
}
main header .cats {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main header .cats .cat {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  border-radius: 0.3rem;
  background-color: #f1f9fc;
  color: rgb(30, 30, 30);
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
  min-width: 20%;
  align-items: center;
  justify-content: center;
}
main header .cats .cat p {
  width: 100%;
}
main header .cats .darkmodeCat {
  background-color: rgba(42, 42, 42, 0.71);
  color: #f1f9fc;
}
main header .cats .darkmodeCat p {
  background-color: rgba(42, 42, 42, 0.7);
}
@media screen and (max-width: 768px) {
  main header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.75rem;
  }
  main header h1 {
    font-size: 1.5rem;
  }
  main header p {
    width: 100%;
  }
  main header .cats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
main .most_recent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2rem;
  padding: 0 8.75rem;
}
main .most_recent .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
main .most_recent .title h2 {
  font-size: 2rem;
  font-weight: 700;
}
main .most_recent .title p {
  color: #2F4DDB;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
main .most_recent .posts {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}
main .most_recent .posts .post {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: rgb(30, 30, 30);
}
main .most_recent .posts .post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
  height: 30vh;
}
main .most_recent .posts .post .infos {
  display: flex;
  flex-direction: column;
}
main .most_recent .posts .post .infos p {
  font-size: 0.8rem;
}
main .most_recent .posts .post .infos h3 {
  font-size: 1rem;
  font-weight: 500;
}
main .most_recent .posts .post .infos h3 span {
  font-size: 1.2rem;
  font-weight: 700;
}
main .most_recent .posts .post .infos div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
main .most_recent .posts .post .infos div p:nth-child(1) {
  color: #2F4DDB;
}
main .most_recent .posts .t-darkmode {
  color: #f1f9fc;
}
main .most_recent .posts .others {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
main .most_recent .posts .others .desc {
  display: none;
}
@media screen and (max-width: 768px) {
  main .most_recent {
    gap: 2rem;
    padding: 1rem 1.75rem;
  }
  main .most_recent .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  main .most_recent .title h2 {
    font-size: 1.2rem;
    font-weight: 700;
  }
  main .most_recent .posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  main .most_recent .posts .others .desc {
    display: flex;
  }
}
main .filters {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2rem;
  background-color: #f1f9fc;
  padding: 1.2rem 8.75rem;
  position: sticky;
  top: 9vh;
}
main .filters .active {
  color: #2F4DDB;
}
main .filters .filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 768px) {
  main .filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    padding: 1.2rem 1.75rem;
  }
}
main .all {
  display: flex;
  flex-direction: column;
  padding: 0 8.75rem;
  width: 100%;
  gap: 2rem;
  justify-content: center;
  text-align: left;
  margin-top: 15vh;
}
main .all .posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 2rem;
}
main .all .posts .post {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: rgb(30, 30, 30);
}
main .all .posts .post img {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  border-radius: 0.4rem;
}
main .all .posts .post .infos {
  display: flex;
  flex-direction: column;
}
main .all .posts .post .infos p {
  font-size: 0.8rem;
}
main .all .posts .post .infos h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
main .all .posts .post .infos div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
main .all .posts .post .infos div p:nth-child(1) {
  color: #2F4DDB;
}
main .all .posts .t-darkmode {
  color: #f1f9fc;
}
main .all button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  border-radius: 0.3rem;
  background-color: white;
  color: #2F4DDB;
  font-size: 1rem;
  border: none;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 5vh auto 0;
}
@media screen and (max-width: 768px) {
  main .all {
    display: flex;
    flex-direction: column;
    padding: 0 1.75rem;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    text-align: left;
    margin-top: 15vh;
  }
  main .all .posts {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    margin-top: 2rem;
  }
  main .all .posts .post .infos {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  main .all button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 2rem;
    border-radius: 0.3rem;
    background-color: white;
    color: #2F4DDB;
    font-size: 1rem;
    border: none;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 5vh auto 0;
  }
}
main .article {
  display: flex;
  padding: 0 8.75rem;
  flex-direction: column;
  gap: 2rem;
}
main .article .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
main .article .title h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
main .article .title div {
  display: flex;
  flex-direction: column;
  align-items: end;
}
main .article .title div p:nth-child(1) {
  color: #2F4DDB;
}
main .article .content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 2rem;
}
main .article .content p {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgb(30, 30, 30);
}
main .article .content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
main .article .content .t-darkmode {
  color: #f1f9fc;
}
main .article .srcs {
  display: flex;
  flex-direction: column;
}
main .article .srcs p {
  font-size: 0.8rem;
}
main .article .srcs p span {
  font-weight: 700;
}
main .article .srcs p:hover {
  cursor: pointer;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  main .article {
    display: flex;
    padding: 0 1.75rem;
    flex-direction: column;
    gap: 2rem;
  }
  main .article .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  main .article .title h1 {
    font-size: 1rem;
  }
  main .article .content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    gap: 2rem;
  }
}
main .about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 8.75rem;
  gap: 2rem;
}
main .about .socials {
  display: flex;
  flex-direction: column;
  background-color: #2F4DDB;
  color: white;
  width: 30%;
  border-radius: 0.4rem;
  padding: 3rem 2rem;
  gap: 2rem;
}
main .about .socials div {
  display: flex;
  flex-direction: column;
}
main .about .socials div h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
main .about .socials div p {
  font-size: 0.8rem;
  font-weight: 400;
}
main .about .socials .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
main .about .socials .social img {
  width: 5vh;
  height: 5vh;
}
main .about .socials .social a {
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
main .about .socials .social a:hover {
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
main .about form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}
main .about form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}
main .about form .champ {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .about form .champ label {
  font-size: 0.8rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
main .about form .champ .t-darkmode {
  color: #f1f9fc;
}
main .about form .champ input, main .about form .champ select, main .about form .champ textarea {
  padding: 0.75rem 1rem;
  color: rgb(30, 30, 30);
  border: none;
  border-bottom: 1.5px solid rgb(30, 30, 30);
  font-size: 0.8rem;
  font-weight: 400;
  width: 100%;
  outline: none;
  align-items: center;
  justify-content: center;
}
main .about form .champ input::placeholder, main .about form .champ select::placeholder, main .about form .champ textarea::placeholder {
  color: rgb(30, 30, 30);
}
main .about form .champ input:active, main .about form .champ input:focus, main .about form .champ textarea:active, main .about form .champ textarea:focus, main .about form .champ select:active, main .about form .champ select:focus {
  outline: none;
}
main .about form .valid {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
main .about form .valid input {
  background-color: #2F4DDB;
  color: white;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  main .about {
    display: flex;
    flex-direction: column;
    padding: 0 1.75rem;
    gap: 5rem;
  }
  main .about .socials {
    width: 100%;
  }
  main .about form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  main .about form .valid {
    width: 100%;
  }
  main .about form .valid input {
    width: 100%;
  }
}

.articles {
  margin-top: 0;
}

footer {
  background-color: #f1f9fc;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem 0;
}
footer h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(30, 30, 30);
}
footer p {
  width: 50%;
  text-align: center;
  font-size: 0.8rem;
  color: rgb(30, 30, 30);
}
footer button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 2rem;
  border-radius: 0.3rem;
  background-color: #2F4DDB;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  min-width: 20%;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  footer {
    background-color: #f1f9fc;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 1.75rem;
  }
  footer h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  footer p {
    width: 100%;
  }
  footer button {
    font-size: 0.8rem;
  }
}
.darkmode {
  background-color: rgb(30, 30, 30);
  color: #f1f9fc;
}

.blanc {
  display: none;
}

.hidden {
  display: none;
}

.block {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
