/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #202020;
    color: #FFFFFF;
}

/* Header */

header {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1E1E1E;
    width: 80%;
    height: 90px;
    display: flex;
    gap: 25%;
    margin: 0 auto;
    border-radius: 0% 0% 30px 30px;

}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

header section a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    margin-left: 20px;
}

header section a:hover {
    color: #AE0000;
}

header section:nth-child(2) div{
    border: 1px solid #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
}

header section:nth-child(2) img:hover {
    cursor: pointer;
}

header input {
    border: none;
    outline: none;
    background-color: #1E1E1E;
    color: #FFFFFF;
    font-size: 1.2rem;
}

header input::placeholder {
    color: #FFFFFF;
}

/* Home Page */

#homepage {
    width: 100%;
}

#homepage section:first-child {
    height: 110%;
    display: flex;
}

#homepage section:first-child h1 {
    font-size: 7rem;
    margin: 0 auto;
    margin-top: 20%;
}

#homepage section:first-child img {
    width: auto;
    height: 90vh;
    object-fit: cover;
}

#homepage section:last-child {
    margin-top: 30px;
}

#homepage section:last-child h2 {
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 30px; 
}

#homepage section:last-child h2>span {
    color: #AE0000;
}

#homepage section:last-child #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#homepage section:last-child #cards .card {
    width: 400px;
    height: 500px;
    background-color: purple;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 20px;
    transition: 0.5s;
    padding-bottom: 30px;
}

#homepage section:last-child #cards .card:hover {
    cursor: pointer;
}

#homepage section:last-child #cards .card h3 {
    font-size: 1.5rem;
}

#homepage .tag {
    background-color: #AE0000;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 1.2rem;
    width: fit-content;
}

/* Blog Page */

/* Contacte Page */

/* Footer */