@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  line-height: 200%;
  letter-spacing: 0.5px;
}

$color-primary: #2F4DDB;
$color-secondary: #f1f9fc;
$color-tertiary: rgba(0, 0, 0, 0.5);
$black: rgb(30, 30, 30);



  .darkmode {
    background-color: $black;
    color: $color-secondary;
  }


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 8.75rem;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 10;
  height: 9vh;

  div:nth-child(1) {
    display: flex;
    flex-direction: row;
    gap: 2rem;

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 40px;
        height: 40px;
      }

      p {
        font-weight: 600;
        color: $black;
      }
    }

    .menu {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      align-items: center;

      .active {
        color: $color-primary;
      }

      a {
        text-decoration: none;
        color: $black;
        font-weight: 600;
        font-size: 0.8rem;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  div:nth-child(2) {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    .search {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 0.3rem 1rem;
      border-radius: 0.3rem;
      background-color: white;
      color: $black;
      font-size: 0.8rem;
      font-weight: 400;
      border: 1.5px solid $black;
      min-width: 20%;
      align-items: center;
      justify-content: center;

      input {
        border: none;
        background-color: transparent;
        font-size: 0.8rem;
        font-weight: 400;
        color: $black;
        width: 100%;

        ::placeholder {
          color: $color-tertiary;
        }
      }

      input:active,
      input:focus {
        outline: none;
      }
    }


    .d-l {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      border-radius: 0.3rem;
      background-color: white;
      color: $black;
      font-size: 0.8rem;
      font-weight: 400;
      border: 1.5px solid $black;
      min-width: 20%;
      align-items: center;
      justify-content: center;

    }

    .sun {
      display: none;
    }

    .hidden {
      display: none;
    }

    .block {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 1.75rem;
    position: fixed;
    top: 0;
    background-color: white;

    div:nth-child(1) {

      .logo p {
        display: none;
      }

      .menu {
        display: none;

      }

    }

    div:nth-child(2) {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;

      input::placeholder {
        display: none;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 20vh;
  margin: 20vh 0;

  @media screen and (max-width: 768px) {
    gap: 10vh;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 8.75rem;

    h1 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $black;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      color: $black;
      width: 50%;
    }

    .t-darkmode {

      color: $color-secondary;
    }

    .darkmode {
      background-color: $black;
      color: $color-secondary;

      p {
        color: $color-secondary;
      }

    }


    .cats {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .cat {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5rem;
        padding: 0.75rem 2rem;
        border-radius: 0.3rem;
        background-color: $color-secondary;
        color: $black;
        font-size: 0.8rem;
        font-weight: 400;
        border: none;
        min-width: 20%;
        align-items: center;
        justify-content: center;

        p {
          width: 100%;
        }


      }

      .darkmodeCat {
        background-color: rgba(42, 42, 42, 0.71);
        color: $color-secondary;

        p {
          background-color: rgba(42, 42, 42, 0.7);
        }

      }
    }
  }

  @media screen and (max-width: 768px) {

    header {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem 1.75rem;

      h1 {
        font-size: 1.5rem;
      }

      p {
        width: 100%;
      }

      .cats {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .most_recent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    padding: 0 8.75rem;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      h2 {
        font-size: 2rem;
        font-weight: 700;
      }

      p {
        color: $color-primary;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }

    .posts {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      margin-top: 2rem;

      .post {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        color: $black;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.4rem;
        }

        .infos {
          display: flex;
          flex-direction: column;

          p {
            font-size: 0.8rem;
          }

          h3 {
            font-size: 1rem;
            font-weight: 500;

            span {
              font-size: 1.2rem;
              font-weight: 700;
            }
          }


          div {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            color: $color-tertiary;

            p:nth-child(1) {
              color: $color-primary;
            }
          }
        }
      }

      .t-darkmode {

        color: $color-secondary;
      }

      .others {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        img {
          width: 100%;
          height: 30vh;
          object-fit: cover;
          border-radius: 0.4rem;
        }
        .desc {
          display: none;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {

    .most_recent {
      gap: 2rem;
      padding: 1rem 1.75rem;

      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        h2 {
          font-size: 1.2rem;
          font-weight: 700;
        }
      }

      .posts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 2rem;

        .others .desc {
          display: flex;
        }
      }
    }
  }

  .filters {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    background-color: $color-secondary;
    padding: 1.2rem 8.75rem;
    position: sticky;
    top: 9vh;

    .active {
      color: $color-primary;
    }

    .filter {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: transparent;
      border: none;
    }
  }

  @media screen and (max-width: 768px) {

    .filters {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.5rem;
      padding: 1.2rem 1.75rem;
    }
  }

  .all {
    display: flex;
    flex-direction: column;
    padding: 0 8.75rem;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    text-align: left;
    margin-top: 15vh;

    .posts {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 3rem;
      margin-top: 2rem;

      .post {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $black;

        img {
          width: 100%;
          height: 30vh;
          object-fit: cover;
          border-radius: 0.4rem;
        }

        .infos {
          display: flex;
          flex-direction: column;

          p {
            font-size: 0.8rem;
          }

          h3 {
            font-size: 1.5rem;
            font-weight: 700;
          }

          div {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            color: $color-tertiary;

            p:nth-child(1) {
              color: $color-primary;
            }
          }
        }
        .darkmode {
          background-color: $black;
          color: $color-secondary;
        }
      }
      .t-darkmode {

        color: $color-secondary;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      padding: 0.75rem 2rem;
      border-radius: 0.3rem;
      background-color: white;
      color: $color-primary;
      font-size: 1rem;
      border: none;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin: 5vh auto 0;
    }
  }

  @media screen and (max-width: 768px) {

    .all {
      display: flex;
      flex-direction: column;
      padding: 0 1.75rem;
      width: 100%;
      gap: 2rem;
      justify-content: center;
      text-align: left;
      margin-top: 15vh;

      .posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        margin-top: 2rem;

        .post .infos {
          display: flex;
          flex-direction: column;
          text-align: left;
        }
      }

      button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.75rem 2rem;
        border-radius: 0.3rem;
        background-color: white;
        color: $color-primary;
        font-size: 1rem;
        border: none;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 5vh auto 0;
      }
    }
  }

  .article {
    display: flex;
    padding: 0 8.75rem;
    flex-direction: column;
    gap: 2rem;

    .title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;

      h1 {
        font-size: 1.5rem;
        font-weight: 700;
      }

      div {
        display: flex;
        flex-direction: column;
        align-items: end;

        p:nth-child(1) {
          color: $color-primary;
        }
      }
    }

    .content {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      gap: 2rem;

      p {
        font-size: 0.8rem;
        font-weight: 400;
        color: $black;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
      }

      .t-darkmode {

        color: $color-secondary;
      }

    }


    .srcs {
      display: flex;
      flex-direction: column;

      p {
        font-size: 0.8rem;

        span {
          font-weight: 700;
        }

        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {

    .article {
      display: flex;
      padding: 0 1.75rem;
      flex-direction: column;
      gap: 2rem;

      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;

        h1 {
          font-size: 1rem;
        }
      }

      .content {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        gap: 2rem;
      }
    }
  }

  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8.75rem;
    gap: 2rem;

    .socials {
      display: flex;
      flex-direction: column;
      background-color: $color-primary;
      color: white;
      width: 30%;
      border-radius: 0.4rem;
      padding: 3rem 2rem;
      gap: 2rem;

      div {
        display: flex;
        flex-direction: column;

        h3 {
          font-size: 1.5rem;
          font-weight: 700;
        }

        p {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }

      .social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        img {
          width: 5vh;
          height: 5vh;
        }

        a {
          font-size: 0.8rem;
          font-weight: 500;
          color: white;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.2rem;
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 60%;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
      }

      .champ {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          font-size: 0.8rem;
          font-weight: 400;
          color: $color-tertiary;
        }

        .t-darkmode {

          color: $color-secondary;
        }

        input,
        select,
        textarea {
          padding: 0.75rem 1rem;
          color: $black;
          border: none;
          border-bottom: 1.5px solid $black;
          font-size: 0.8rem;
          font-weight: 400;
          width: 100%;
          outline: none;
          align-items: center;
          justify-content: center;

          &::placeholder {
            color: $black;
          }
        }

        input:active,
        input:focus,
        textarea:active,
        textarea:focus,
        select:active,
        select:focus {
          outline: none;
        }

      }

      .valid {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        input {
          background-color: $color-primary;
          color: white;
          border: none;
          padding: 0.5rem 3rem;
          border-radius: 0.3rem;
          font-weight: 700;
          font-size: 1rem;
          text-align: center;
          width: object-fit;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {

    .about {
      display: flex;
      flex-direction: column;
      padding: 0 1.75rem;
      gap: 5rem;

      .socials {
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 100%;

        .valid {
          width: 100%;

          input {
            width: 100%;
          }
        }
      }
    }
  }

}

.articles {
  margin-top: 0;
}

footer {
  background-color: $color-secondary;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 3rem 0;

  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $black;
  }

  p {
    width: 50%;
    text-align: center;
    font-size: 0.8rem;
    color: $black;
  }


  button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 2rem;
    border-radius: 0.3rem;
    background-color: $color-primary;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    min-width: 20%;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  footer {
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem 1.75rem;

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }

    p {
      width: 100%;
    }

    button {
      font-size: 0.8rem;
    }
  }
}

.blanc {
  display: none;
}

.hidden {
  display: none;
}

.block {
  display: flex;
}
